@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.App {
  width: 100vw;
  overflow-x: hidden;
}

#gameWarning {
  display: none;
}

#Modal {
  position: absolute;
  border: 1px solid red;
  background-color: red;
}

.Navbar {
  display: flex;
  justify-content: space-evenly;
}

.Nav {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: large;
  padding: 10px;
  position: relative;
}

.Nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.Nav:hover:before {
    visibility: visible;
    transform: scaleX(1);
    margin-bottom: 10px;
  }

#code {
  color: black;
  margin-top: 5px;
}

#code:hover {
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 25px;
  width: 100px;
  border-radius: 5%;
}

#controlButtons {
  display: flex;
  flex-direction: row;
}

#infoContainer {
 padding: 15px;
}

#Grid {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#subGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

#main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

#presets {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin-top: 50%;
}

li{
  font-size: .78rem;
  line-height: 55px;
}

#gridBlock {
  animation: fadeOut 10s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#title {
  font-size: 7rem;
  font-family: 'Bangers', cursive;
  letter-spacing: 10px;
  animation: fadeIn 15s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#titleContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -110px;
}

#tooltip {
  color: white;
  margin-left: 15px;
}

#Rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rule {
  width: 175px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.ruleNumber {
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-top: 0px;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1400px) {
  #controlButtons {
    display: flex;
    justify-content: center;
  }

  #main {
    display: flex;
    flex-direction: column;
  }

  #Grid {
    margin-left: 25%;
  }

  #title {
    font-size: 50px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 700px) {
  #About {
    margin-top: 600px;
    width: 100vw;
  }

  #controlButtons {
    margin-left: 200px;
  }

  #gameWarning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%
  }

  #mobileView {
    display: none;
  }

  #title {
    font-size: 25px;
    margin-top: 50px;
  }
}