@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.App {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}

.Navbar {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: black;
}

.Nav {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: large;
  padding: 10px;
  position: relative;
}

.Nav:hover {
  color: goldenrod;
}

.Nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.Nav:hover:before {
    visibility: visible;
    transform: scaleX(1);
    margin-bottom: 10px;
  }

#code {
  color: white;
  margin-top: 5px;
}

#code:hover {
  color: goldenrod;
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 25px;
  width: 100px;
  border-radius: 5%;
}

#controlButtons {
  display: flex;
  flex-direction: row;
}

#Grid {
  display: flex;
  flex-direction: column;
  width: 50%;
}


#subGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#gridBlock{
  
}

#main {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

#presets {
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin-top: 50%;
}

li{
  font-size: .78rem;
  line-height: 55px;
}

#gridBlock {
  animation: fadeOut 10s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#title {
  font-size: 7rem;
  font-family: 'Bangers', cursive;
  letter-spacing: 10px;
  animation: fadeIn 15s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#titleContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -110px;
}